<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sampark"
        android:usesCleartextTraffic="true">
      <!--  <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />-->

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditDeleteTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".AdmissionSummaryReportActivity"
            android:exported="false" />
        <activity
            android:name=".BatchTimeActivity"
            android:exported="false" />
        <activity
            android:name=".BatchActivity"
            android:exported="false" />
        <activity
            android:name=".CourseActivity"
            android:exported="false" />
        <activity
            android:name=".StudyMaterialReportActivity"
            android:exported="false" />
        <activity
            android:name=".CertificateReportActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceReportActivity"
            android:exported="false" />
        <activity
            android:name=".ExpenseReportActivity"
            android:exported="false" />
        <activity
            android:name=".AdmissionReportActivity"
            android:exported="false" />
        <activity
            android:name=".FeesCollectionSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".OutStandingDetailedActivity"
            android:exported="false" />
        <activity
            android:name=".OuStandingSummaryReport"
            android:exported="false" />
        <activity
            android:name=".DetailedReportActivity"
            android:exported="false" />
        <activity
            android:name=".SummaryReportActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationReminderActivity"
            android:exported="false" />
        <activity
            android:name=".BirthdayReminderActivity"
            android:exported="false" />
        <activity
            android:name=".CertificateHandOverActivity"
            android:exported="false" />
        <activity
            android:name=".DistributeStudyMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".EditStudentProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AllotBatchActivity"
            android:exported="false" />
        <activity
            android:name=".StudentProfleActivity"
            android:exported="false" />
        <activity
            android:name=".GetAdmissionActivity"
            android:exported="false" />
        <activity
            android:name=".FeeReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".NewAdmissionActivity"
            android:exported="false" />
        <activity
            android:name=".EditDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ExtendActivity"
            android:exported="false" />
        <activity
            android:name=".AdmissionActivity"
            android:exported="false" />
        <activity
            android:name=".GetInquiryActivity"
            android:exported="false" />
        <activity
            android:name=".InquiryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity> <!-- Inside <application> tag -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

       <!-- <service
            android:name=".WhatsAppActionService"
            android:exported="true"
            android:label="WhatsApp Auto Send"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>-->
    </application>

</manifest>